[Unit]
Description= Flask service testing
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=centos 
ExecStart=/home/centos/flask_service/appflask.py

[Install]
WantedBy=multi-user.target
